<app-nav [loading]="loading">
    <div toolbar>
        <button md-icon-button (click)="toggleSearch()">
            <md-icon>search</md-icon>
        </button>
    </div>

    <md-toolbar class="search-bar" *ngIf="searchActive" color="primary">
        <md-input-container class="demo-fill-remaining" >
            <input mdInput [(ngModel)]="searchValue" [appFocus]="searchFocusEventEmitter">
        </md-input-container>
        <button md-icon-button (click)="toggleSearch()">
            <md-icon>clear</md-icon>
        </button>
    </md-toolbar>

    <div class="user-container">
        <div class="stretch">
            <md-card *ngFor="let user of users" [hidden]="!user.name.toLowerCase().includes(searchValue.toLowerCase())" [routerLink]="['/users', user.id]">
                <md-card-title>{{user.name}}</md-card-title>
                <md-card-subtitle>
                    <div>
                        <app-euro [value]="user.balance"></app-euro>
                    </div>
                    <div>
                        <time>{{ (user.active | amFromUnix) | amTimeAgo }}</time>
                    </div>
                </md-card-subtitle>
            </md-card>
        </div>
    </div>

    <button md-fab (click)="openCreateUserDialog()" [disabled]="createUserDialogRef">
        <md-icon>person_add</md-icon>
    </button>
</app-nav>
