<fieldset [disabled]="loading">
    <mat-card>
        <mat-card-title>Produkte</mat-card-title>
        <mat-card-content>
            <div *ngFor="let product of products">
                <app-name-input [(ngModel)]="product.name" [length]="{ min: 1, max: 45 }"></app-name-input>
                <app-euro-input [(ngModel)]="product.price" placeholder="Preis"></app-euro-input>
                <button mat-icon-button (click)="product.fun = !product.fun"><mat-icon [color]="product.fun ? 'primary' : ''">sentiment_{{ product.fun ? 'very_' : '' }}satisfied</mat-icon></button>
                <button mat-icon-button (click)="remove(product)"><mat-icon>delete</mat-icon></button>
            </div>
            <button mat-icon-button (click)="create()"><mat-icon>add</mat-icon></button>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="primary" (click)="cancel()">ABBRECHEN</button>
            <button mat-raised-button color="accent" (click)="save()" [disabled]="!isValid() || !isChanged()">SPEICHERN</button>
        </mat-card-actions>
    </mat-card>
</fieldset>
