<fieldset [disabled]="loading">
    <md-card>
        <md-card-title>Produkte</md-card-title>
        <md-card-content>
            <div *ngFor="let product of products">
                <name-input [(ngModel)]="product.name" [length]="{ min: 1, max: 45 }"></name-input>
                <euro-input [(ngModel)]="product.price" placeholder="Preis"></euro-input>
                <button md-icon-button (click)="remove(product)"><md-icon>delete</md-icon></button>
            </div>
            <button md-icon-button (click)="create()"><md-icon>add</md-icon></button>
        </md-card-content>
        <md-card-actions align="end">
            <button md-button color="primary" (click)="cancel()">ABBRECHEN</button>
            <button md-raised-button color="accent" (click)="save()" [disabled]="!isValid() || !isChanged()">SPEICHERN</button>
        </md-card-actions>
    </md-card>
</fieldset>