<fieldset [disabled]="loading">
    <mat-card>
        <mat-card-title>Aufladen</mat-card-title>
        <mat-card-content>
            <div *ngFor="let charge of charges">
                <app-euro-input [(ngModel)]="charge.value" placeholder="Betrag"></app-euro-input>
                <button mat-icon-button (click)="remove(charge)"><mat-icon>delete</mat-icon></button>
            </div>
            <button mat-icon-button (click)="create()"><mat-icon>add</mat-icon></button>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="primary" (click)="cancel()">ABBRECHEN</button>
            <button mat-raised-button color="accent" (click)="save()" [disabled]="!isValid() || !isChanged()">SPEICHERN</button>
        </mat-card-actions>
    </mat-card>
</fieldset>
