<div>
<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav class="main-sidenav">
        <mat-nav-list>
            <a mat-list-item *ngFor="let view of views" [routerLink]="['/' + view.path]" (click)="sidenav.close()">
                <mat-icon mat-list-icon>{{ view.icon }}</mat-icon>
                <span mat-line>{{ view.name }}</span>
                <span mat-line class="secondary">{{ view.description }}</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar color="primary">
        <button *ngIf="!backTo" mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
        </button>
        <button *ngIf="backTo" mat-icon-button [routerLink]="backTo">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span>{{ config.title }}</span>
        <span class="fill-remaining-space"></span>
        <ng-content select="[toolbar]"></ng-content>
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="loadingShowing"></mat-progress-bar>

    <ng-content></ng-content>
</mat-sidenav-container>
</div>
