<fieldset [disabled]="loading">
    <mat-card>
        <mat-card-title>Allgemeine Einstellungen</mat-card-title>
        <mat-card-content>
            <div>
                <mat-input-container>
                    <input matInput [(ngModel)]="config.title" placeholder="Titel">
                </mat-input-container>
            </div>
            <div>
                <p>Theme:</p>
                <mat-select [(ngModel)]="config.theme">
                    <mat-option *ngFor="let theme of themes" [value]="theme.id">{{ theme.name }}</mat-option>
                </mat-select>
            </div>
            <br>
            <div>
                <p>Gewinnchance bei allen Produkten mit <mat-icon>sentiment_very_satisfied</mat-icon>:</p>
                <mat-input-container>
                    <div matPrefix>1:</div>
                    <input matInput [(ngModel)]="config.funChanceToWin" placeholder="Gewinnchance" type="number" min="0" max="10000" step="1">
                </mat-input-container>
                <div><small>{{ getFunChanceToWinSubtitle() }} Chance zu gewinnen</small></div>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="primary" (click)="cancel()">ABBRECHEN</button>
            <button mat-raised-button color="accent" (click)="save()" [disabled]="!isChanged()">SPEICHERN</button>
        </mat-card-actions>
    </mat-card>
</fieldset>
