<fieldset [disabled]="loading">
    <md-card>
        <md-card-title>Allgemeine Einstellungen</md-card-title>
        <md-card-content>
            <div>
                <md-input-container>
                    <input mdInput [(ngModel)]="config.title" placeholder="Titel">
                </md-input-container>
            </div>
            <div>
                <p>Theme:</p>
                <md-select [(ngModel)]="config.theme">
                    <md-option *ngFor="let theme of themes" [value]="theme.id">{{ theme.name }}</md-option>
                </md-select>
            </div>
            <br>
            <div>
                <p>Gewinnchance bei allen Produkten mit <md-icon>sentiment_very_satisfied</md-icon>:</p>
                <md-input-container>
                    <div mdPrefix>1:</div>
                    <input mdInput [(ngModel)]="config.funChanceToWin" placeholder="Gewinnchance" type="number" min="0" max="10000" step="1">
                </md-input-container>
                <div><small>{{ getFunChanceToWinSubtitle() }} Chance zu gewinnen</small></div>
            </div>
        </md-card-content>
        <md-card-actions align="end">
            <button md-button color="primary" (click)="cancel()">ABBRECHEN</button>
            <button md-raised-button color="accent" (click)="save()" [disabled]="!isChanged()">SPEICHERN</button>
        </md-card-actions>
    </md-card>
</fieldset>
