<app-nav [backTo]="['../']" [loading]="loading">
    <div class="container">
        <mat-card>
            <mat-card-title class="alignleft">Transaktionen</mat-card-title>
            <mat-card-title class="alignright">
                Gesamt:
                <app-euro [value]="balance"></app-euro>
            </mat-card-title>
            <div style="clear: both;"></div>
            <mat-card-content>
                <table>
                    <tr>
                        <th>Zeit</th>
                        <th class="right">Davor</th>
                        <th class="right">Betrag</th>
                        <th class="right">Danach</th>
                        <th class="right"></th>
                    </tr>
                    <tr *ngFor="let transaction of transactions">
                        <td>
                            {{ (transaction.created | amFromUnix) | amDateFormat:'DD.MM.YYYY HH:mm:ss' }}
                        </td>
                        <td class="right">
                            <app-euro [value]="transaction.before"></app-euro>
                        </td>
                        <td class="right">
                            <app-euro [value]="transaction.value" [sign]="true"></app-euro>
                        </td>
                        <td class="right">
                            <app-euro [value]="transaction.after"></app-euro>
                        </td>
                        <td class="right material-icons delete-icon" (click)="openRemoveTransactionDialog(transaction)">
                            delete
                        </td>
                    </tr>
                    <tr *ngIf="transactions.length === 0 && !loading">
                        <td colspan="5">
                            <mat-card-subtitle align="center">Noch keine Transaktionen</mat-card-subtitle>
                        </td>
                    </tr>
                </table>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button *ngIf="!allLoaded && !loading" (click)="getTransactions()">MEHR ANZEIGEN</button>
            </mat-card-actions>
        </mat-card>
    </div>
</app-nav>
