@import '~@angular/material/theming';

@include mat-core();

$warn: mat-palette($mat-red);

.default-theme {
  $primary: mat-palette($mat-brown);
  $accent: mat-palette($mat-amber, A200, A100, A400);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);
}

.kos-theme {
  $primary: mat-palette($mat-indigo);
  $accent: mat-palette($mat-orange, A200, A100, A400);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);
}
