@import 'app-theme.scss';
@import './app/user/user-fun-free-dialog/rainbow-backdrop.scss';

body {
    font-family: 'Roboto', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.dialog {
    width: 300px;
}

.dialog mat-input-container {
    width: 100%;
}

.dialog mat-card-actions {
    margin-bottom: -20px;
}

.mat-sidenav-content {
    transform: none !important;
}
