<div class="dialog">
    <mat-card-title>Transaktion löschen?</mat-card-title>
    <mat-card-content>
        Soll die Transaktion vom {{ (transaction.created | amFromUnix) | amDateFormat:'DD.MM.YYYY HH:mm:ss' }} über <app-euro [value]="transaction.value" [sign]="true" [colored]="false"></app-euro> gelöscht werden
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button color="primary" mat-dialog-close>ABBRECHEN</button>
        <button mat-raised-button color="accent" (click)="clickOk()">LÖSCHEN</button>
    </mat-card-actions>
</div>
